{% load static %}
<!DOCTYPE html>
<html lang="in"><head>
    <title>ODDO - Login and Register Form HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/loginPage/style.css' %}">

<script src="moz-extension://e588d71c-a92c-4c3c-b38c-3e6a3c2b03f3/assets/prompt.js"></script></head>
<body id="top">
<div class="page_loader"></div>

<!-- Login 4 start -->
<div class="login-4">
    <div class="container-fluid">
        <div class="row login-box">
            <div class="col-lg-6 form-section">
                <div class="form-inner">
                    <a href="login-4.html" class="logo">
                        <img src="assets/img/logos/logo.png" alt="logo">
                    </a>
                    <h3 id="form-title">Create an account</h3>
                    <div class="alert alert-success alert-dismissible fade show d-none" role="alert">
                        <span id="alert-text" class="fs-6 text-white">Congrats,  your account has been created!</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST" id="commonForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="form-group position-relative clearfix">
                            <input name="full_name" type="text" class="form-control" placeholder="Full Name" aria-label="Full Name">
                        </div>
                        <div class="form-group position-relative clearfix">
                            <input name="email" type="email" class="form-control" placeholder="Email Address" aria-label="Email Address">
                            <div class="login-popover login-popover-abs" data-bs-toggle="popover" data-bs-trigger="hover" title="" data-bs-content="And here's some amazing content. It's very engaging. Right?" data-bs-original-title="Clarification">
                                <i class="fa fa-info-circle"></i>
                            </div>
                        </div>
                        <div class="form-group clearfix position-relative password-wrapper">
                            <input name="password" type="password" class="form-control" autocomplete="off" placeholder="Password" aria-label="Password">
                            <i class="fa fa-eye password-indicator"></i>
                        </div>
                        <div class="form-group checkbox clearfix">
                            <div class="clearfix float-start">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rememberme">
                                    <label class="form-check-label" for="rememberme">
                                        I agree to the terms of service
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0 clearfix">
                            <button id="registerButton" onclick="submitRegistrationForm(event)" type="button" class="btn btn-lg btn-primary btn-theme">Register</button>
                        </div>
                        <div class="extra-login clearfix">
                            <span>Or Login With</span>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="social-list">
                            <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="google-color"><i class="fa fa-google google-i"></i><span>Google</span></a></li>
                        </ul>
                    </form>

                    <form class="d-none" action="" method="POST" id="otpForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="form-group position-relative clearfix">
                            <input name="otp" type="text" class="form-control" placeholder="Enter OTP" aria-label="Enter OTP">
                        </div>
                        <div id="timer" style="font-size: 18px; color: white; margin-top: 10px;"></div>
                        <div class="form-group mb-0 clearfix">
                            <button id="otpSubmitBtn" onclick="submitOtpForm(event)" type="button" class="btn btn-lg btn-primary btn-theme">Submit</button>
                        </div>
                        <div class="extra-login clearfix">
                            <span>Or Login With</span>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="social-list">
                            <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="google-color"><i class="fa fa-google google-i"></i><span>Google</span></a></li>
                        </ul>
                    </form>

                    <p>Already a member? <a href="{% url 'wellsip:login-screen' %}">Login here</a></p>
                </div>
            </div>
            <div class="col-lg-6 bg-img clip-home" style="background-image: url('{% static 'img/bg/bg-login.jpg' %}');"></div>
        </div>
    </div>
</div>
<!-- Login 4 end -->

<!-- External JS libraries -->
<script src="{% static 'js/loginPage/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/loginPage/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/loginPage/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/loginPage/app.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Custom JS Script -->
<script>

const alertText = document.getElementById('alert-text');
const alertArea = document.querySelector('.alert');
function submitRegistrationForm(event) {
    event.preventDefault();
    const form = document.getElementById('commonForm');
    const otpForm = document.getElementById('otpForm');
    const formTitle = document.getElementById('form-title');
    const emailField = document.querySelector('input[name="email"]');
    const passwordField = document.querySelector('input[name="password"]');
    const registerButton = event.target;

    // Reset alert text
    alertText.textContent = "";
    alertArea.classList.add("d-none");

    // Client-side validation
    if (!validateForm(emailField, passwordField, alertText, alertArea)) {
        return;
    }

    const formData = new FormData(form);
    registerButton.textContent = 'Processing..';
    registerButton.disabled = true;

    fetch('/registration-data-submit/', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            form.classList.add('d-none');
            otpForm.classList.remove('d-none');
            formTitle.textContent = 'Verify OTP';
            alertText.textContent = `OTP sent to ${emailField.value}`;
            alertArea.style.backgroundColor = "#008000";
            alertArea.classList.remove("d-none");

            var fiveMinutes = 5 * 60, // 5 minutes in seconds
            display = document.querySelector('#timer');
            startTimer(fiveMinutes, display);
        } else if (data.status === 'failed') {
            alertText.textContent = data.message;
            alertArea.style.backgroundColor = "#CC0000";
            alertArea.classList.remove("d-none");
        }
    })
    .catch(error => {
        alertText.textContent = "An error occurred. Please try again.";
        alertArea.style.backgroundColor = "#CC0000";
        alertArea.classList.remove("d-none");
    })
    .finally(() => {
        registerButton.textContent = 'Register';
        registerButton.disabled = false;
    });
}

function validateForm(emailField, passwordField, alertText, alertArea) {
    let isValid = true;
    let errors = [];

    if (!emailField.value.trim()) {
        errors.push("Email is required.");
    } else if (!/\S+@\S+\.\S+/.test(emailField.value)) {
        errors.push("Please enter a valid email address.");
    }

    if (!passwordField.value.trim()) {
        errors.push("Password is required.");
    } else if (passwordField.value.length < 6) {
        errors.push("Password must be at least 6 characters long.");
    }

    if (errors.length > 0) {
        alertText.textContent = errors.join(" ");
        alertArea.style.backgroundColor = "#CC0000";
        alertArea.classList.remove("d-none");
        return false;
    }

    return true;
}

function displayFormErrors(errors, alertText, alertArea) {
    let errorMessage = Object.values(errors).join(" ");
    alertText.textContent = errorMessage;
    alertText.style.color = "red";
    alertArea.classList.remove("d-none");
}

// Timer countdown function
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    var interval = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            clearInterval(interval);
            document.getElementById("otpForm").querySelector("button").disabled = true;
            display.textContent = '';
            display.style.color = 'blue';

            // Create the "Resend OTP" button inside the display
            var resendButton = document.createElement('div');
            resendButton.textContent = 'Resend OTP';
            resendButton.style.cursor = "pointer";
            resendButton.style.marginTop = '10px';

            display.appendChild(resendButton);


            // Add event listener to trigger the OTP resend logic
            resendButton.addEventListener('click', function() {
                resendButton.textContent = 'Processing...';
                resendButton.disabled = true;
                resendOTP(); // Call the resend OTP function
                resendButton.remove(); // Remove the resend button after clicked
            });
        }
    }, 1000);
}

// Function to resend OTP
function resendOTP() {
    const emailField = document.querySelector('input[name="email"]');
    const resendFormData = new FormData();
    resendFormData.append('email', emailField.value); // Assuming the email is the key

    fetch('/resend-otp/', { // The endpoint for resending OTP
        method: 'POST',
        body: resendFormData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            document.getElementById('otpForm').querySelector("button").disabled = false;
            var fiveMinutes = 5 * 60, // Reset the timer for another 5 minutes
                display = document.querySelector('#timer');
            alertText.textContent = `OTP re-sent to ${emailField.value}`;
            alertArea.style.backgroundColor = "#008000";
            alertArea.classList.remove("d-none");
            startTimer(fiveMinutes, display);
        } else {
            if (data.status ==='failed' && data.message === 'block otp') {
                display = document.querySelector('#timer');
                display.classList.add('d-none');
                document.getElementById('otpForm').querySelector("button").disabled = false;
            } else {

                alertText.textContent = "Failed to send OTP.";
                alertArea.style.backgroundColor = "#CC0000";
                alertArea.classList.remove("d-none");
            }

        }
    })
    .catch(error => {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'There was an error processing your request. Please try again.',
        });
        console.error('Error:', error);
    });
}



function submitOtpForm() {
    const form = document.getElementById('otpForm');
    const formData = new FormData(form);

    fetch(window.location.href, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{% csrf_token %}' // Use CSRF token function
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);
            window.location.href = '/dashboard/';
        } else {
            alertText.textContent = data.message;
            alertArea.style.backgroundColor = "#CC0000";
            alertArea.classList.remove("d-none");
        }
    })
    .catch(error => console.error('Error:', error));
}
</script>




</body></html>